{% use "form_div_layout.html.twig" %}
{% block form_row %}
    <div class="form-group {% if errors|length > 0 %} {{ 'has-error' }} {% endif %}">
        {{ form_label(form) }}
        <div class="col-md-4">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}


{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id, 'class': (label_attr.class|default('') ~ ' col-md-3 control-label')|trim}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}{% if required %}
        <span class="required"> * </span>
        {% endif %}</label>
    {%- endif -%}
{%- endblock form_label -%}



{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{#{%- block datetime_widget -%}
    <input class="input-group form-control form-control-inline date date-picker"
           size="16" type="text" {% if value is not empty %}value="{{ value.toString() }}" {% endif %}}
           name="date-input" data-date-format="dd/mm/yyyy" />
{%- endblock datetime_widget -%}#}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim, 'rows':'6'}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{%- block form_start -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal form-bordered form-row-stripped')|trim}) %}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %}  {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        <div class="form-body">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}


{%- block submit_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn green')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}


    <div class="form-actions right">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" {{ block('button_attributes') }}><i class="fa fa-check"></i> {{ label|trans({}, translation_domain) }}</button>
                <button type="reset" class="btn default" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
            </div>
        </div>
    </div>
    
{%- endblock submit_widget -%}


{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <span class="help-block help-block-error">
    
        {%- for error in errors -%}
        {{ error.message }}<br>
        {%- endfor -%}
    
    </span>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block choice_widget_expanded -%}
<div {{ block('widget_container_attributes') }}>
<div class="{{form.vars.multiple==true?'checkbox':'radio'}}-list">
    {%- for child in form %}
    {#{{ dump(child) }}#}
    <label class="{{child.parent.vars.multiple==true?'checkbox':'radio'}}-inline" id="{{child.parent.vars.multiple==true?'checkbox':'radio'}}-inline_{{ child.vars.id }}">
        <input type="{{child.parent.vars.multiple==true?'checkbox':'radio'}}" name="{{ child.vars.full_name }}" id="{{ child.vars.id }}" value="{{ child.vars.value }}" {% if (form.vars.value == null and loop.index == 1) or form.vars.value == child.vars.value%}checked{% endif %}> {{ translation_domain is same as(false) ? child.vars.label : child.vars.label|trans({}, translation_domain) }} </label>
        {% endfor -%}
</div>
</div>
        
{%- endblock choice_widget_expanded -%}
{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
        </div>
    </form>
{%- endblock form_end -%}