@charset "UTF-8";
.timeclock    {
	font-size: 1em;
	margin-top: 9px;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-right: 11px;
	display: block;
	vertical-align: middle;
	height: 28px;
	text-align: center;
	color: rgba(86,86,86,1.00);
}
.area    {
	font-size: 0.9em;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-right: 11px;
	display: block;
	vertical-align: middle;
	color: rgba(58,58,58,1.00);
	margin-top: 9px;
	list-style-position: inside;
	position: relative;
}
.username {
	color: rgba(58,58,58,1.00);
}
.gauge {
            display: block;
            float: left;
            
            box-sizing: border-box;
            margin: 0 0 1% 0;
        }
 .size-2 {
            width: 30%;
        }
/* FLAGS */
.xn-icon-button > a > .flag {
  display: block;
  margin: 0px auto;
}
.flag {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-position: left top;
  vertical-align: inherit;
  margin-right: 5px;
}
.flag.flag-gb {
  background-image: url(img/flags/gb.png);
}
.flag.flag-de {
  background-image: url(img/flags/de.png);
}
.flag.flag-cn {
  background-image: url(img/flags/cn.png);
}
.flag.flag-tw {
	background-image: url(img/flags/tw.png);
}
.flag.flag-jp {
	background-image: url(img/flags/jp.png);
}
/* END FLAGS */
.yellow {
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-decoration: none;
	font-weight: bold;
}
.portlet-body .table-responsive .table td {
	border: 0px none rgba(255,255,255,1.00);
}
.tablemoney  {
	/* [disabled]background-color: rgba(53,152,220,1.00); */
	border: 1px solid rgba(248,248,248,1.00);
	width: 100%;
}
.tablemoney td  ,.tablemoney tr{
	/* [disabled]background-color: rgba(53,152,220,1.00); */
	border: 1px solid rgba(248,248,248,1.00);
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.tableframe {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.portlet {
	height: 100%;
}

.row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 10px;
	-webkit-justify-content: space-around;
}
/*switch 按钮*/        
.switch-ui{            
  display: none;        
}        
.switch-ui+label{                      
  display: inline-block;/*此处必须要加上这个设置，否则label的宽度显示会有问题*/
  /* 将<input>显示的形状变成椭圆*/              
  width: 44px;            
  height: 24px;            
  border-radius: 12px;            
  top: 3px;            
  position: relative;/*此处设置为relative便于后面的:after和:before通过设置position为absolute来改变   相对位置*/            
  border: 1px solid #dfdfdf;            
  outline: 0;            
  box-sizing: border-box;            
  background: #dfdfdf;        
  }        
.switch-ui:checked +label{            
  border-color: #12b7f5;            
  background-color: #12b7f5;        
}        
.switch-ui+label:after {            
  width: 22px;            
  background-color: #fff;            
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);        
}        
.switch-ui+label:after, .switch-ui+label:before {            
  content: " ";            
  position: absolute;            
  top: 0;            
  left: 0;            
  height: 22px;            
  border-radius: 11px;            
/* transition 用来设置动画的持续时间，这里的动画类型是transform，即位置偏移动画*/          
  -webkit-transition: -webkit-transform .3s;           
  transition: -webkit-transform .3s;            
  transition: transform .3s;            
  transition: transform .3s,-webkit-transform .3s;        
}        
.switch-ui+label:before {            
  width: 42px;        
}        
/*checked状态下，:before大小变为0*/        
  .switch-ui:checked+label:before {            
  -webkit-transform: scale(0);            
  transform: scale(0);        
}        
/*checked状态下，:after位置向右偏移20px*/        
  .switch-ui:checked+label:after {            
  -webkit-transform: translateX(20px);            
  transform: translateX(20px);        
}   
.portlet-body .table-responsive .table.table-condensed.table-bordered.table-striped td ,.portlet-body .table-responsive .table.table-condensed.table-bordered.table-striped th{
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}
.portlet-body .table-responsive .table.table-condensed.table-bordered.table-striped th    {
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}
.page-header-fixed {
	background-color: #555559;
	background-image: -webkit-linear-gradient(270deg,rgba(63,63,66,1.00) 0%,rgba(56,56,59,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(63,63,66,1.00) 0%,rgba(56,56,59,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(63,63,66,1.00) 0%,rgba(56,56,59,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(63,63,66,1.00) 0%,rgba(56,56,59,1.00) 100%);
}
.page-header .navbar   {
	background-color: #f4d500;
	background-image: url(url);
}
